:root{
    --blue: #3A98B9;
    --cream: #FFF1DC;
    --brown: #E8D5C4;
    --grey: #EEEEEE;
}

body{
    font-size: 18px;
    margin: 0px;
}

header{
    background-color: var(--blue);
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.add-container{
    width: 100vw;
    height: 3rem;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

#library-container{
    height: 100vh;
    width: 100vw;
    background-color: var(--brown);
    display: flex;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: var(--grey);
}

.card{
    width: 200px;
    height: 300px;
}

.popup{
    width: 300px;
    background: var(--cream);
    border-radius: 6px;
    border-color: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    padding: 0 30px 0 30px;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    padding: 20px 0px 20px 0px;
  }
  
  .open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

input, label{
      display: block;
}

input{
    font-size: 1.2rem;
}
